/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;
  --gold1:#F4BD76;
  --gold2:#F6CD8F;
  --gray:#ffffff80;
  --gray2:#f7d9d990;
  --black1: #1A1B1F;
  --black2: #30353B;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;

  /*===== Font and typography =====*/
  --body-font: 'Roboto', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
  :root{
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== LOGO =====*/

.float {
  position: fixed;
  width: 55px;
  height: 55px;
  background-color: gray;
  bottom: 45px;
  right: 45px;
  color: var(--gold2);
  border-radius: 50%;
  text-align: center;
  box-shadow: 3px 3px 4px #999;
  z-index: 999;
}

.fa-lock {
  font-size: 50px;
}

.float:hover {
  background-color: rgb(207, 207, 207);
}

.float1 { 
  position: fixed;
  width: 55px;
  height: 55px;
  top: 15px;       /* Ajusta esta distancia desde la parte superior */
  left: 15px;      /* Ajusta esta distancia desde la parte izquierda */
  background-color: gray;
  color: var(--gold2);
  border-radius: 50%;
  text-align: center;
  box-shadow: 3px 3px 4px #999;
  z-index: 999;
}

.fa-arrow-left {
  font-size: 50px;
}

.float1:hover {
  background-color: rgb(207, 207, 207);
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--black1);
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LOGIN =====*/
.login{
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login__content{
  display: grid;
}

.login__img{
  justify-self: center;
}

.login__img img{
  width: 310px;
  margin-top: 1.5rem;
}

.login__forms{
  position: relative;
  height: 368px;
}

.login__registre, .login__create{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.login__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.login__box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: .5rem;
}

.login__icon{
  font-size: 1.5rem;
  color: var(--black2);
}

.login__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--black1);
}

.login__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.login__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--black1);
}

.login__button{
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--gold1);
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

.login__button:hover{
  background-color: var(--black2);
}

.login__account, .login__signin, .login__signup{
  font-weight: 600;
  font-size: var(--small-font-size);
}

.login__account{
  color: var(--gold1);
}

.login__signin, .login__signup{
  color: var(--black1);
  cursor: pointer;
}

.login__social{
  margin-top: 2rem;
}

.login__social-icon{
  font-size: 1.5rem;
  color: var(--black1);
  margin: 0 1.5rem;
}

/*Show login*/
.block{
  display: block;
}

/*Hidden login*/
.none{
  display: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .login__forms{
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px){
  .login{
    height: 100vh;
    overflow: hidden;
  }

  .login__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .login__img{
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--gold2);
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .login__img img{
    width: 390px;
    margin-top: 0;
  }

  .login__registre, .login__create{
    left: -11rem;
  }

  .login__registre{
    bottom: -2rem;
  }

  .login__create{
    bottom: -5.5rem;
  }
}